<nav class="navbar">
    <ul>
      <li><a href="#daily-sum-chart">Daily Sum Chart</a></li>
      <li><a href="#per-country-chart">Per Country Chart</a></li>
      <li><a href="#pizza-chart">Pizza Chart</a></li>
    </ul>
    <button class="login-btn">Login</button>
  </nav>
  
  <div id="charts-container">
    <section id="daily-sum-chart">
      <app-daily-sum-chart></app-daily-sum-chart>
    </section>
    <section id="pizza-chart">
      <app-market-shares-chart></app-market-shares-chart>
    </section>
    <section id="per-country-chart">
      <app-per-country-chart></app-per-country-chart>
    </section>
  </div>
  